AddHandler imap-file .ico
Options FollowSymLinks

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule blog/.* blog/php/index\.php

#comment out below line to force  use of ssl.
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L] 
</IfModule>

